* {
    direction: rtl;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* border: solid; */
}

header,
footer {
    background-color: #909090;
}

header {
    background: linear-gradient(0deg, rgba(188, 188, 188, 1) 0%, rgba(144, 144, 144, 1) 15%);
}

.footer-container,
.header-container,
.main {
    margin: 0 auto;
    width: 900px;
}

.header-container>.row,
.menu,
.search-box,
.footer-menu,
.main,
.bg-cards,
.sm-cards {
    display: flex;
}

.header-container>.row,
.menu {
    justify-content: flex-end;
}

.footer-menu {
    justify-content: flex-start;
}

.main {
    flex-direction: column;
}

.header-container>.row {
    padding: 20px 0 12px 0;
}

.search-box>input {
    border-top-right-radius: 5px;
    border: none;
    width: 126px;
}

.search-box>a {
    width: 19px;
    height: 19px;
    background: url(../images/search_button.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
}

ul {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    display: block;
}

.menu>li>a {
    margin-bottom: 10px;
}

.menu li a:hover,
.footer-menu li a:hover,
.lang:hover {
    text-decoration: underline;
    color: #005ca0;
}

.lang {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 0 0 16px;
}


/* .dropdown-content>li>a {
    display: block;
} */

.dropdown-content>li {
    width: max-content;
    padding: 0 5px;
    border-bottom: 1px solid #bcbcbc;
}

.dropdown-content>li:last-child {
    border-bottom: none;
}

.dropdown-content {
    padding: 0;
    display: none;
    position: absolute;
    background-color: #909090;
    background: linear-gradient(0deg, rgba(144, 144, 144, 1) 85%, rgba(188, 188, 188, 1) 100%);
}

.menu .sep {
    color: #bcbcbc;
    text-shadow: 1px 1px 1px gray;
    margin: 0 16px;
    padding: 5px 0;
    font-size: 18px;
}

#home {
    width: 17px;
    height: 15px;
    background: url(../images/menu_home_blue.png);
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown>a {
    text-align: center;
}

.dropdown-content>li:hover {
    background-color: #bcbcbc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    position: absolute;
    top: 32px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(144, 144, 144, 1) 55%, rgba(188, 188, 188, 1) 100%);
}

.footer-menu {
    color: white;
    padding: 0 7px;
    margin: 14px 0 6px 0;
}

.footer-menu>li>a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-menu>li:last-child>a {
    color: red;
}

.footer-menu>.sep {
    margin: 0 5px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2px;
}

#fb-link {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/fb_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    flex: 1;
}

.bg-cards {
    justify-content: space-between;
}

.card1 {
    background-image: url(../images/1908364606615453350.jpg);
}

.card2 {
    background-image: url(../images/Picture-046410251500.jpg);
}

.card3 {
    background-image: url(../images/פזקר_-291_354410564000.jpg);
}

.bg-cards>[class^="card"] {
    background-position: center;
    background-repeat: no-repeat;
    width: 291px;
    height: 354px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bg-cards {
    margin-top: 15px;
    color: white;
}

.card-title {
    margin: 0 0 3px 0;
    font-size: 14px;
}

.card-text {
    font-size: 13px;
    margin: 0;
    line-height: 1;
    padding-left: 3px;
}

.card-link {
    font-size: 13px;
    color: white;
    float: left;
}

.card-link>img {
    margin-right: 3px;
}

.text-container {
    padding: 8px 10px 3px 10px;
    margin: 6px;
    background-image: url(../images/hp_tab_text_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
}